body {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 22px;
  margin:0;
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(89,148,235,0.26404065043986347) 100%);

}
.row {
 
  
}
.col-md-4, .col-md-8, .col-md-3 {
 

}
.top-intro {
  
}
.container-fluid {
  
  width:100%;

  padding:0px;
}
.top {
  width:1000px;
  margin:0 auto;
}
.top-menu {

}
.piece-menu {
  width:100%;
  background: linear-gradient(#e66465, #9198e5);
}
.submenu {
  width:1000px;
  margin:0 auto;
}
.menu-items {
  background: linear-gradient(#e66465, #9198e5);
  height: 80px;
  padding: 20px;
  font-size: 24px;
 color:white;
  border-right:3px solid white;
text-align: center;
}
.menu-items-last {
  background: linear-gradient(#e66465, #9198e5);
  height: 80px;
  padding: 10px;
  font-size: 24px;
 color:white;
  padding:20px;
text-align: center;
}
.slider {
  width:100%;
  height:400px;
  border:0px solid black;
}
 
 .square {
  width:100px;
  height: 100px;
  background-image: url(https://cdn.worldvectorlogo.com/logos/asus-rog-1.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

}
.intro-top-left {
  width:360px;
  height:100px;
  margin-bottom: 65px;
  margin-top:65px;
  display: flex;
  gap:15px;

}
.intro-top-center {
  font-family: 'Open Sans Condensed', sans-serif;
  width:250px;
  height: 105px;
  /*border:1px solid red;*/
  margin-top: 45px;
  margin-bottom: 104px;
  display: flex;
  justify-content: flex-end;
}
.number-container {
  font-size: 30px;
  line-height: 30px;
  color:grey;
}

.top-right-feedback {
  margin-top: 8px;
  font-size: 18px;

}
.modal-btn {
position: absolute;
right:0;
background-color: transparent;
border:none;
border-bottom-style: dashed;
}

.slide {
  position: relative;
}
.slide1,.slide2,.slide3,.slide4 {
  width:100%;
  height: 400px;
  display: block;
  position: absolute;
  top:0px;
}
.slide1 {
  animation: fade1 25s linear infinite;
}
.slide2 {
  animation: fade2 25s linear infinite;
}
.slide3 {
  animation: fade3 25s linear infinite;
}
.slide4 {
  animation: fade4 25s linear infinite;
}
@keyframes fade1 {
  0% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  50% {
    opacity: 0;
  }
  75%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade2 {
  0% {
    opacity:0;
  }
  25% {
    opacity:1;
  }
  50% {
    opacity: 0;
  }
  75%{
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade3 {
  0% {
    opacity:0;
  }
  25% {
    opacity:0;
  }
  50% {
    opacity: 1;
  }
  75%{
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade4 {
  0% {
    opacity:0;
  }
  25% {
    opacity:0;
  }
  50% {
    opacity: 0;
  }
  75%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.state {
  width:100%;
}
.substate {
  width:1000px;
  margin:0 auto;
}
.catalog {
  width:100%;

}
.subcatalog {
  width:1000px;
  margin: 0 auto;
  background-image: linear-gradient(to top, #dd1453, #e15588, #dc81b2, #d6a8cd, #d6cadb);

}
.link {
  text-decoration: none;
  color:white;
}
.catalog-center-block {
  
  
 
}
.leftblock-catalog-menu-list {
  list-style-type: none;
  margin-top: 0px;
}
.leftblock-PC-sublist-item-first {
  font-weight: bold;
  text-decoration: underline;
}
.leftblock-PC-sublist-item a {
  color:red;
}
.leftblock-PC-sublist-item-sl-first a{
  color:red;
}
.leftblock-PC-sublist-item-second {
  font-weight: bold;
  text-decoration: underline;
}
.leftblock-PC-sublist-item-second a {
    color:red;
}
.action-href a {
  text-decoration: none;
}
.leftblock-container-pricelist {
  /*border:1px solid red;*/
  height: 150px;
  width:200px;
  margin-top:80px;
  padding-left:15px;
}
.leftblock-container-pricelist-image {
  width: 97px;
  height: 95px;
  margin: 0 auto;
  background-image: url(https://img.icons8.com/ios/452/ms-excel.png);
  background-size: cover;
    background-position: center;
    box-shadow: 0 3px rgba(0, 0, 0, 0.4);
text-align: center;
}
.leftblock-container-pricelist-text {
  text-align: center;
  width:200px;
}
.game-catalog {

}
.game-cards {
  
  margin-right: 10px;
  border:3px solid white;
  height: 380px;  
  padding-left: 10px;
}
.centerblock-game-image {
  
  height: 210px;
  margin: 0 auto;
}
.image-game {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.col-md-3 {
  padding: 0;
}
.img-thumbnail {
   width:190px;
}
.centerblock-game-text{
  padding-left: 10px;
  text-align: left;
  font-size: 20px;
  margin-top:10px;
}
.price-and-buy {
  display: flex;
position: absolute;
bottom: 0;  
 margin:10px;
 margin-right: 20px;
}
.centerblock-game-price {
  font-weight: bold;
  font-size: 30px;
}
.centerblock-game-buy {
  background-image: url(https://icons-for-free.com/iconfiles/png/512/buy-131964784705748631.png);
  background-size: cover;
    background-position: center;
    width:30px;
    height: 30px;
}
/*//////////////////*/
.center-block-pages-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 15px;
}
.center-block-pages-item a{
  color:black;
}
.chosen-page {
  font-size: 18px;
}
.text {
  width:100%;
  margin-top:30px;
}
.subtext {
  width:1000px;
  margin:0 auto;

}
.asus-subtext {
  border-top: 1px solid grey;

  height:445px;
}
.about-company {
  
  display: flex;
  justify-content: space-between;
}
.col-lg-5,.col-lg-4,.col-lg-3 {

}
.footer {
  width:100%;
  background-color: grey;
  border:1px solid blue;
}
.subfooter {
  width:1000px;
  margin:0 auto;
}
.piece-footer {
  height: 280px;
  
}
.block-footer {
  padding-top: 30px;
  background-color: grey;
}
.footer-center-list,.footer-center-list a{
  list-style-type: none;
  
  color: white;
}

.footer-center-item {
  text-decoration: underline;
}
.block-left {
  padding-left: 10px;
  color:white;
}
.block-center {
 text-align: left;
}
.block-right {
float:right;
color:white;
}
.modal-bg {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display:  flex;
  justify-content: center;
  align-items:  center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 1s; 

}
.bg-active {
  visibility: visible;
  opacity: 1;
}
.modal {
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(89,148,235,0.9) 100%);
  width: 465px;
  height: 580px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.feedback-input {
  width:90%;
}
textarea {
  width: 90%
}
.modal button {
  padding:10px 30px;
  background: linear-gradient(#e66465, #9198e5);
  color:white;
  border:none;
  cursor:pointer;
}
.modal-close {
position: absolute;
top:0;
right: 0;
font-weight: bold;
cursor: pointer;
} 